<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/sign-up.css">
</head>
<body>
    <div class="container">
    <form id="signup-form" class="signup-form">
        <input type="text" name="phone_number" placeholder="Номер телефона">
        <input type="text" name="password" placeholder="Пароль">
        <input type="text" name="name" placeholder="Имя">
        <input type="text" name="surname" placeholder="Фамилия">
        <input type="text" name="date_of_birth" placeholder="Дата рождения">
        <button type="submit">Отправить</button>
    </form>
    </div>
    <script src="/js/sign-up.js"></script>
</body>
</html>